/* DIVISIONS */

body {

}

header {
  display: flex;
  flex-direction: column;
}

.covid-banner {
  align-items: center;
  background-color: gold;
  display: flex;
  justify-content: center;
  text-align: center;
}

.desktop-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.smartphone-header {
  display: none;
}

.logo-and-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.menu {
}

header .menu {
  width: 40vw;
}

.search-bar-desktop {
  margin-right: 1rem;
}

.pop-up-searchbar-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pop-up-searchbar {
  background-color: white;
  padding: 1rem;
  position: absolute;
}

/* main */

.presentation {
  background-color: #d9e3e9;
  padding: 2rem 4rem;
}

.presentation-text {
  width: 40vw;
}

.artisan-highlight {
  background-color: #f0f0f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.main-item, .item-group {
  height: 90vh;
  width: 48vw;
}

.main-item {
  align-items: center;
  background-color: #d9e3e9;
  display: flex;
}

.main-item .in-text {
  height: 60%;
  margin: 0rem 3rem;
  text-overflow: ellipsis;
}

.in-text {
  /* display: none; */
}

.main-item:hover + .in-text {
  display: block;
}

.item-group {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  background-color: #d9e3e9;
  display: flex;
  justify-content: center;
  height: 48.2%;
  padding: 1rem;
  width: 23.3vw;
}

.products-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.products {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 85vh;
  justify-content: space-between;
}

.product {
  background-color: rgb(240, 220, 240);
  height: 48%;
  width: 18vw;
}

.artisans-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.artisans {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 48vh;
  justify-content: space-between;
}

.artisan {
  background-color: rgb(220, 240, 240);
  height: 100%;
  width: 23vw;
}

.engagements-div {
  background-color: rgb(250, 250, 230);
  height: 70vh;
  padding: 1rem;
}

.engagements {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 48vh;
  justify-content: space-between;
}

.engagement {
  background-color: rgb(250, 250, 250);
  height: 100%;
  padding: 2rem 1rem;
  text-align: center;
  width: 23vw;
}

footer {
  background-color: #d9e3e9;
  padding: 2rem 4rem;
}

.footer-divs {
  display: flex;
  flex-direction: row;
  height: 35vh;
  justify-content: space-between;
}

.footer-div {
  padding: 1rem 0rem;
  max-width: 18vw;
}

.separation {
  background-color: rgb(150, 160, 160);
  border-radius: 2rem;
  height: 100%;
  width: 2px;
}

.newsletter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0rem;
}

.social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.legal {
  margin-top: 3rem;
}


/* TITLES */

.presentation-text h2 {
  margin-bottom: 1.6rem;
}

.main-item h4 {
  margin-bottom: 2rem;
  text-align: left;
}

.main-item h5 {
  margin-bottom: 1.6rem;
  text-align: left;
}

.products-div h4, .artisans-div h4, .engagements-div h4 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.footer-div h6 {
  margin-bottom: 2rem;
}


/* TEXT */

.covid-banner p {
  margin-bottom: 0rem;
  text-align: center;
}

.search-bar-desktop i, .smartphone-header i, .pop-up-searchbar-container i {
  color: #006845;
}

.main-item p {
  text-align: left;
}

.engagement p {
  font-size: 0.9rem;
}

.footer-div p {
  font-size: 0.8rem;
}


/* LINKS */

.presentation-text a {
  color: #006845;
  font-weight: 600;
  text-decoration: none;
}

.social-media a {
  color: #006845;
}

.legal a {
  color: rgb(10, 10, 10);
}


/* NAVS & LISTS */

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem;
  padding-left: 0rem;
  width: 100%;
}

.menu li {
  color: #006845;
  list-style-type: none;
}

.menu li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left:	0;
  background-color: #1a535c;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .3s ease-in-out;
}

.menu li:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.footer-div li {
  font-size: 0.8rem;
  list-style-type: none;
}

.legal ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0rem;
  width: 38vw;
}

.legal li {
  font-size: 0.8rem;
  list-style-type: none;
}

/* INPUTS */

.pop-up-searchbar input {
  border: 0rem;
  border-bottom: 1mm ridge rgb(220, 220, 220, .3);
}

.newsletter input {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  font-size: 0.7rem;
  margin-right: 0rem;
  padding: 0.2rem 0.5rem;
  width: 8rem;
}

.footer-div label {
  font-size: 0.8rem;
}

/* BUTTONS */

.covid-banner button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-left: 2rem;
}

.close-button,
.searchbar-button,
.research-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-left: 2rem;
}

.send {
  background-color: rgba(240, 240, 240);
  border: none;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  color: #006845;
  font-size: 0.7rem;
  font-weight: 500;
  margin-left: 0rem;
  padding: 0.2rem 0.5rem;
  text-align: center;
}

/* IMG */

.logo {
  max-width: 10vw;
}




/*================= MEDIA QUERIES =================*/
/*  (min-device-width: 768px) and */

@media only screen and (max-device-width: 1024px) {

  .desktop-header {
    display: none;
  }

  .smartphone-header {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .covid-banner p, .covid-banner i {
    font-size: 2rem;
  }

  .burger-menu, .burger-menu-close {
    width: 20vw;
  }

  .title {
    text-align: center;
    width: 60vw;
  }

  .search-bar {
    width: 20vw;
  }

  .smartphone-menu {
    margin-top: 2rem;
  }

  .artisan-highlight {
    flex-direction: column;
  }

  .main-item, .item-group {
    height: 20vh;
    width: 96vw;
  }

  .products, .artisans {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .artisans {
    height: 32vh;
  }

  .product, .artisan {
    height: 15vh;
    width: 47vw;
  }

  .engagements-div {
    height: 87rem;
  }

  .engagements {
    flex-direction: column;
  }

  .engagement {
    width: 96vw;
  }

  .footer-divs {
    height: auto;
    flex-wrap: wrap;
  }

  .footer-div {
    background-color: rgb(240, 240, 240);
    min-width: 39vw;
    margin: 1rem;
    padding: 1rem 2rem;
  }

  .separation {
    display: none;
  }

  h1 {
    color: #006845;
    font-size: 5.6rem;
    font-weight: 600;
  }

  h6 {
    font-size: 1.8rem;
  }

  .burger-open, .burger-close {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 4.5rem;
    font-weight: 400;
    margin-left: 2rem;
  }

  .smartphone-menu li {
    font-size: 2rem;
    line-height: 4.5rem;
    list-style-type: none;
  }

  .presentation-text {
    margin: auto;
    width: 90vw;
  }

  .presentation-text p {
    font-size: 1.5rem;
  }

  .engagement p {
    font-size: 2.2rem;
  }

  .footer-div p {
    font-size: 1.5rem;
  }

  .footer-div h6 {
    font-size: 1.5rem;
  }


}


@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {

  .desktop-header {
    display: none;
  }

  .smartphone-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 5rem;
  }

  .covid-banner {
    display: none;
  }

  .title {
    text-align: center;
    width: 80vw;
  }

  .presentation-text {
    margin: auto;
    width: 90vw;
  }

  .main-item {
    height: auto;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .item-group {
    flex-wrap: wrap;
  }

  .item {
    width: 47vw;
  }

  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
  }

  .artisans {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 31vh;
  }

  .product, .artisan {
    height: 15vh;
    width: 47vw;
  }

  h1 {
    color: #006845;
    font-size: 8rem;
  }

  .burger-open, .burger-close {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 8rem;
    margin-left: 2rem;
  }

  h2 {
    font-size: 3rem;
  }

  .products-div h4, .artisans-div h4, .engagements-div h4, .artisan-highlight h4 {
    font-size: 3rem;
  }

  .artisan-highlight h5 {
    font-size: 2.6rem;
  }

  .presentation-text p, .artisan-highlight p {
    font-size: 2.2rem;
  }

  .presentation-text a {
    font-size: 2.2rem;
  }

  .fa-bars, .fa-times {
    font-size: 6rem;
  }

}
